body {
   background-image: url(../img/background.jpg);
   background-size: cover;
   font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* Header styles */

header {
   background-color: rgba(0, 0, 0, 0.4);
   display: flex;
   align-items: center;
   justify-content: space-between;
}

.header__logo {
   margin: 18px 0px 18px 79px;
}

.logo-link {
   text-transform: uppercase;
   font-weight: 700;
   font-size: 22px;
   line-height: 22px;
   color: #FFFFFF;
}

.navbar {
   display: flex;
   align-items: center;
   margin: 18px 79px 18px 0px;
}

.navbar__svg {
   margin-right: 25px;
   fill: #FFFFFF;
   width: 23px;
   height: 23px;
}

.navbar span {
   display: inline-block;
   font-style: normal;
   font-weight: 400;
   font-size: 14px;
   line-height: 14px;
   padding-left: 25px;
   color: #FFFFFF;
   border-left: 1px solid white;
}

.navbar span a {
   color: #FFFFFF;
}

/* Header Hover */

.navbar__svg:hover {
   fill: #3CB878;
}

.logo-link:hover {
   color: #3CB878;
}

.navbar span a:hover {
   color: #3CB878;
}

/* Sign Up form */

.main {
   width: 444px;
   height: max-content;
   margin: 0 auto;
   background-color: #FFFFFF;
   margin-top: 54px;
   position: relative;
   display: flex;
}

.wrapper {
   margin: 31px 61px 38px 61px;
   width: 324px;
}

.green-square {
   display: inline-block;
   position: absolute;
   background-color: #3CB878;
   width: 18px;
   height: 18px;
   left: 0;
   top: 29px;
}

.sign-up__menu {
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.sign-up__menu span {
   display: inline-block;
   font-size: 20px;
   line-height: 20px;
   color: #434343;
}

.sign-up__menu a {
   display: inline-block;
   font-size: 14px;
   color: #3CB878;
   text-decoration: underline;
}

.btns__sign-up {
   display: flex;
   justify-content: space-between;
   margin: 15px 0px 40px 0px;
}

.btn-facebook {
   display: flex;
   width: 160px;
   height: 48px;
   background-color: #305DB8;
   border-radius: 3px;
   align-items: center;
   justify-content: space-around;
   color: #FFFFFF;
   font-size: 16px;
}

.btn-google {
   display: flex;
   width: 160px;
   height: 48px;
   background-color: #DF4A32;
   border-radius: 3px;
   align-items: center;
   justify-content: space-around;
   color: #FFFFFF;
   font-size: 16px;
}

.btn-facebook img {
   display: inline-block;
}

.btn-google img {
   display: inline-block;
}

h2 {
   position: relative;
   font-size: 12px;
   font-weight: normal;
   text-align: center;
}

h2>span {
   display: inline-block;
   margin: 0.4em;
   color: #848484;
}

h2>span:before,
h2>span:after {
   content: '';
   position: absolute;
   border-top: 1px solid #F2F2F2;
   margin-top: .6em;
}

h2>span:before {
   width: 150px;
   margin-left: -155px;
}

h2>span:after {
   width: 150px;
   margin-left: 5px;
}

.form-item input {
   border: 1px solid #F2F2F2;
   min-width: 324px;
   padding: 14px 20px;
   margin: 8px 0px 8px 0px;
   border-radius: 4x;
}

.reg-form input {
   border-radius: 5px;
}

.rules {
   color: #3CB878;
}

.check {
   margin-right: 10px;
}

input:focus {
   box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.21);
}

.btn__create-account {
   width: 324px;
   background-color: #3CB878;
   text-align: center;
   border-radius: 4px;
   color: #FFFFFF;
   font-size: 16px;
   padding: 16px 100px;
   margin-top: 15px;
}


/* Active buttons */

.btn-facebook:active {
   background-color: #0A162F;
   ;
}

.btn-google:active {
   background-color: #AB1F09;
}

.btn__create-account:active {
   background-color: #01813F;
}